<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">

<body>

<div layout:fragment="content">

    <h1>Tạo sản phẩm</h1>

    <form th:action="@{/products/create}"
          th:object="${product}"
          method="post"
          enctype="multipart/form-data">

        <div class="mb-3">
            <label>Tên</label>
            <input class="form-control" th:field="*{name}">
            <div class="text-danger" th:errors="*{name}"></div>
        </div>


        <div class="mb-3">
            <label>Ảnh</label>
            <input class="form-control"
                   type="file"
                   name="imageFile"
                   accept="image/*">
        </div>

        <div class="mb-3">
            <label>Giá</label>
            <input class="form-control" th:field="*{price}">
            <div class="text-danger" th:errors="*{price}"></div>
        </div>


        <div class="mb-3">
            <label>Danh mục</label>
            <select class="form-control" th:field="*{category.id}">
                <option th:each="c : ${categories}"
                        th:value="${c.id}"
                        th:text="${c.name}">
                </option>
            </select>
        </div>

        <button class="btn btn-success">Lưu</button>
        <a class="btn btn-secondary" th:href="@{/products}">Hủy</a>
    </form>


</div>
